{% extends 'LcLcBundle:Default:layout.html.twig' %}
	{% block menu %}
    {{ include ('LcLcBundle:Default:menu.thank.html.twig') }}
	{% endblock %}

	{% block content %}
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Maztah</h1>
                        <p class="intro-text">
													Selamat akun Maztah Anda sudah aktif. <br> Mulailah sekarang dan temukan teman-temanmu di sini!<br>
													<a href="{{ path('feeling') }}" class="loader-action">LOGIN</a>
												</p>
                        <a href="{{ path('feeling') }}" class="btn btn-circle page-scroll" data-toggle="tooltip" data-placement="top" title="Login">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Hubungi Maztah</h2>
                <p>Tidak usah sungkan, silahkan hubungi kami untuk menyampaikan saran, atau hanya sekedar ingin menyapa kami!</p>
                <p><a href="mailto:call.bukuteman@gmail.com">call.bukuteman@gmail.com</a>
                </p>

            </div>
        </div>
    </section>
	{% endblock %}
