{% extends 'LcLcBundle:Default:layout.html.twig' %}
	{% block menu %}
    {{ include ('LcLcBundle:Default:menu.thank.html.twig') }}
	{% endblock %}

	{% block content %}
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">bukuteman</h1>
                        <p class="intro-text">Terima kasih telah melakukan pendaftaran di bukuteman. Kami sudah mengirim email pengaktifan akun ke alamat email anda, silahkan buka email anda dan aktifkan akun anda.</p>
                        <a href="{{ path('feeling') }}" class="btn btn-circle page-scroll loader-action" data-toggle="tooltip" data-placement="top" title="Login">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Hubungi bukuteman</h2>
                <p>Tidak usah sungkan, silahkan hubungi kami untuk menyampaikan saran, atau hanya sekedar ingin menyapa kami!</p>
                <p><a href="mailto:call.bukuteman@gmail.com">call.bukuteman@gmail.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
										<li>
											<a href="https://twitter.com/bukutemanID" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
										</li>
										<li>
											<a href="https://www.facebook.com/bukutemanID" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
										</li>
                </ul>
            </div>
        </div>
    </section>
	{% endblock %}
