{% extends 'LcLcBundle:Default:layout.html.twig' %}
	{% block menu %}
    {{ include ('LcLcBundle:Default:menu.thank.html.twig') }}
	{% endblock %}

	{% block content %}

    <!-- Contact Section -->
    <section id="agreement" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Kesepakatan dan Persyaratan penggunaan bukuteman</h2>
                <p class="pull-left text-left agreement">
                Penggunaan aplikasi ini sepenuhnya tunduk pada peraturan perundang-undangan yang berlaku di Indonesia. Sebagaimana yang
                telah tertulis di  PERATURAN  MENTERI KOMUNIKASI DAN INFORMATIKA  REPUBLIK INDONESIA NOMOR. 19  TAHUN 2014
                tentang konten bermuatan negatif, pada situs internet.
                </p>
                <h5>Persyaratan Pengguna</h5>
                <p class="pull-left text-left agreement">
					Persyaratan penggunaan aplikasi ini adalah pengguna telah berusia minimal 17 tahun terhitung pada saat ia melakukan pendaftaran untuk menggunakan aplikasi.
					Sedangkan untuk usia maksimal penggunaan aplikasi tidak kami batasi. Namun ada kemungkinan jika kami akan melakukan pembatasan penggunaan aplikasi terhadap pengguna dengan usia lanjut.
					Kami tidak mengijinkan pengguna dengan usia di bawah 17 tahun untuk menggunakan aplikasi ini. Dan jika ada pengguna yang berusia di bawah 17 tahun maka kami akan melakukan penghapusan akun
					milik pengguna tersebut.
                </p>
                <p class="pull-left text-left agreement">
					bukuteman adalah layanan aplikasi geratis. bukuteman tidak menjual konten atau fitur dalam aplikasi bukuteman. Pengguna dapat menggunakan semua fitur dan konten pada aplikasi
					secara penuh, tanpa ada batasan waktu atau dikenakan biaya. Karena bukuteman merupakan layan geratis maka pengguna tidak dapat melakukan gugatan jika fitur dalam aplikasi
					bukuteman mengalami masalah. bukuteman tidak memberikan garansi terhadap software ini. Dan karena pengguna telah menggunakan aplikasi ini maka pengguna sudah sepakat dengan ketentuan tersebut.
                </p>
                <p class="pull-left text-left agreement">
					Untuk mengakses layanan aplikasi bukuteman pengguna membutuhkan koneksi internet yang mungkin akan dikenakan tarif sesuai dengan penyedia layanan internet yang digunakan oleh pengguna.
					Dan koneksi internet tersebut merupakan perangkat yang tidak terkait dengan bukuteman. Jaringan internet yang digunakan merupakan hal yang ditentukan oleh operator yang digunakan oleh masing-masing pengguna.
					Dengan demikian bukuteman tidak bertanggung jawab terhadap ketersediaan jaringan internet tersebut.
                </p>
                <p class="pull-left text-left agreement">
					Lebih jauh mengenai garansi aplikasi. Jika dalam menggunakan layanan bukuteman kemudian pengguna mengalami kerusakan yang diakibatkan oleh bukuteman langsung atau tidak langsung, baik itu berupa hardware atau software maka pengguna tidak berhak untuk
					meminta jaminan perlindungan dan ganti rugi atas penggunaan aplikasi ini.
					Dan sudah menjadi kesadaran bagi pengguna sendiri tanpa ada paksaan dari pihak manapun karena telah memutuskan untuk menggunakan aplikasi ini.
                </p>
                <h5>Kesepakatan Pengguna</h5>
                <p class="pull-left text-left agreement">
                Penggunaan aplikasi ini sepenuhnya tunduk pada peraturan perundang-undangan yang berlaku di Indonesia. Sebagaimana yang telah tertulis di PERATURAN MENTERI KOMUNIKASI DAN INFORMATIKA REPUBLIK INDONESIA NOMOR. 19 TAHUN 2014 tentang konten bermuatan negatif, pada situs internet.
                </p>
                <p class="pull-left text-left agreement">
                Untuk itu segala bentuk tindakan yang menyertakan/mengarah ke hal-hal yang dilarang oleh peraturan diatas, tidak akan mendapatkan toleransi sedikitpun.
                Kami akan langsung menghapus akun yang terindikasi melakukan pelanggaran tersebut.
                Hal-hal yang dilarang seperti:
                <ol class="pull-left text-left">
					<li>Konten pornografi</li>
					<li>Konten yang bermuatan isu SARA</li>
					<li>Serta semua bentuk pelanggaran hukum lainnya sebagaimana yang tertulis di peraturan perundang-undangan yang berlaku di wilayah hukum Republik Indonesia</li>
                </ol>
                </p>

                <p class="pull-left text-left agreement">
					Penyelesaian perkara hukum yang muncul tidak menjadi tanggung jawab kami. Dan dengan menggunakan aplikasi bukuteman ini
					maka pengguna telah menyetujui dan sepakat jika mereka tidak akan menuntut kami secara hukum jika terjadi bentuk pelanggaran hukum dalam penggunaan aplikasi ini.
					Dan selanjutnya perkara hukum itu akan diselesaikan oleh pihak yang berwenang seperti Kepolisian dan Pengadilan Republik Indonesia.
					Untuk itu sebagai pengguna bukuteman maka pengguna akan mematuhi semua peraturan perundang-undangan yang berlaku di Indonesia.
					Karena segala bentuk pelanggaran yang terjadi akan ditindak oleh pihak yang berwajib.
                </p>
                <p class="pull-left text-left agreement">
					Sebagai pengguna aplikasi bukuteman maka, semua pengguna hanya diperkenankan untuk memposting hal-hal yang baik dan dibenarkan oleh hukum yang berlaku.
					Dan sesuai dengan norma-norma sosial yang berlaku di Indonesia. Jika pengguna melakukan pelanggaran maka kami berhak untuk melakukan pembersihan data dan penutupan akun
					meski tanpa pemberitahuan terlebih dahulu.
                </p>
                <p class="pull-left text-left agreement">
					Terkait data pribadi dan privasi. Kami akan menyediakan aplikasi semudah dan seaman mungkin untuk digunakan. Karena data pribadi dan privasi anda adalah prioritas utama kami.
					Namun jika terjadi hal-hal yang diluar keadaan normal, seperti bencana alam, serangan virus dari luar yang dapat mengakibatkan kerusakan data. Maka
					pengguna telah sepakat dan tidak berhak untuk melakukan tuntutan terhadap bukuteman.
                </p>

                <p class="pull-left text-left agreement">
					Lebih lanjut terkait data pribadi pengguna. Dengan menggunakan bukuteman maka pengguna telah sepakat untuk memberikan kewenangan kepada bukuteman
					dalam melakukan pengelolaan data pengguna. Pengelolaan data tersebut meliputi pengumpulan data, pengawasan dan analisa terhadap data, serta kemungkinan tindakan lain yang
					dapat dilakukan terkait pengelolaan data pengguna bukuteman. Baik untuk keperluan komersil atau non komersil.
                </p>

                <p class="pull-left text-left agreement">
                Demikian Kesepakatan dan Persyaratan penggunaan bukuteman dibuat. Dengan menggunakan aplikasi ini berarti pengguna secara mutlak tanpa ada unsur paksaan apapun telah menerima dan
                mematuhi semua kesepakatan dan persyaratan tersebut. Beserta segala kemungkinan perubahan Kesepakatan dan Persyaratan penggunaan bukuteman yang dapat saja terjadi di waktu yang akan datang.
                </p>
					<h2>Hubungi bukuteman</h2>
					<p>Tidak usah sungkan, silahkan hubungi kami untuk menyampaikan saran, relasi bisnis, advertisement atau hanya sekedar ingin menyapa kami!</p>
					<p><a href="mailto:call@bukuteman.com">call@bukuteman.com</a>
						<br>
					</p>
				<div id="contact">
					<ul class="list-inline banner-social-buttons">
						<li>
							<a href="https://twitter.com/bukutemanID" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
						</li>
						<li>
							<a href="https://www.facebook.com/bukutemanID" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
						</li>
					</ul>
				</div>
            </div>
        </div>
    </section>
	{% endblock %}
