{% extends 'LcLcBundle:Default:layout.html.twig' %}
	{% block menu %}
    {{ include ('LcLcBundle:Default:menu.thank.html.twig') }}
	{% endblock %}

	{% block content %}

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Cara Order</h2>
                <p>* Yuk order via Pradiste Android App, untuk memperoleh promo potongan ongkir sebesar Rp. 15.000; Ayo buruan install!</p>
                <p><a class="btn btn-default btn-lg" target="_blank" href="https://play.google.com/store/apps/details?id=com.pradiste.app" style="border-color: #05293c;background-color: #05293c;"><span class="glyphicon glyphicon-shopping-cart"></span> Via Pradiste Android App</a> </p>
                <p><a class="btn btn-default btn-lg" target="_blank" href="https://api.whatsapp.com/send?phone=6281339878810&text=Format+Order%0Anama%3A%0Aalamat+%28kelurahan%2C+kecamatan%2C+kabupaten%2Fkota%2C+provinsi%29%3A%0Ano+hp%3A%0Aproduct%3A%0Aukuran%3A%0Awarna%3A%0Anote%3A" style="border-color: #05293c;background-color: #05293c;"><span class="glyphicon glyphicon-shopping-cart"></span> Via WhatsApp</a></p>
                <p><a class="btn btn-default btn-lg" target="_blank" href="https://shopee.co.id/by_pradiste.id" style="border-color: #05293c;background-color: #05293c;"><span class="glyphicon glyphicon-shopping-cart"></span> Via Shopee</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Hubungi pradiste</h2>
                <p>Tidak usah sungkan, silahkan hubungi kami untuk menyampaikan saran, atau hanya sekedar ingin menyapa kami!</p>
                <p>pradiste.indonesia@gmail.com</p>

            </div>
        </div>
    </section>
    <script>
        // $(document).ready(function() {
        //   setTimeout(function() {
        //       window.location.href = "https://play.google.com/store/apps/details?id=com.pradiste.app";
        //   }, 1000);
        // });
    </script>
	{% endblock %}
