{%block rightcontent%}
						<div class="col-sm-3 column">
							<div class="panel panel-success">
								<div class="panel-heading">
									<h3 class="panel-title">Mungkin kamu suka</h3>
								</div>
								<div class="panel-body apanel-body p-border">
									<div class="media">
										<a class="media-left pull-left thumbnail" href="#">
											<img src="{{ asset('bundles/lclc/img/wedus-36.jpeg') }}" alt="Super">
										</a>
										<div class="media-body">
											<h5 class="media-right">Middle aligned media.lll ll lllllllll lllll kkk</h5>
										</div>
									</div>
								</div>
								<div class="panel-body apanel-body p-border">
									<div class="media">
										<a class="media-left pull-left thumbnail" href="#">
											<img src="{{ asset('bundles/lclc/img/wedus-36.jpeg') }}" alt="Super">
										</a>
										<div class="media-body">
											<h5 class="media-right">Middle aligned media.lll ll lllllllll lllll kkk</h5>
										</div>
									</div>
								</div>
								<div class="panel-body apanel-body p-border">
									<div class="media">
										<a class="media-left pull-left thumbnail" href="#">
											<img src="{{ asset('bundles/lclc/img/wedus-36.jpeg') }}" alt="Super">
										</a>
										<div class="media-body">
											<h5 class="media-right">Middle aligned media.lll ll lllllllll lllll kkk</h5>
										</div>
									</div>
								</div>
								<div class="panel-body apanel-body p-border">
									<div class="media">
										<a class="media-left pull-left thumbnail" href="#">
											<img src="{{ asset('bundles/lclc/img/wedus-36.jpeg') }}" alt="Super">
										</a>
										<div class="media-body">
											<h5 class="media-right">Middle aligned media.hugrdb mvcxzhgdrou vkkk</h5>
										</div>
									</div>
								</div>
							</div>
						</div>
{% endblock %}
