{%block leftcontent%}
				<div class="col-md-2 column">
					<div id="navbar" class="navbar">
						
					<ul class="nav nav-pills nav-stacked">
						<li role="presentation"><a href="{{ path('friend_show', {'token': app.user.token}) }}">Kenalan&nbsp;<span class="badge">29</span></a></li>
						<li role="presentation"><a href="{{ path('chat') }}">Obrolan</a></li>
					</ul>
					</div>
				</div>
{% endblock %}
